<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="AlexFTPS" version="1.1.0.27735" targetFramework="net40" />
  <package id="DotNetZip" version="1.9" targetFramework="net40" />
  <package id="FCTB" version="2.16.1.1" targetFramework="net40" />
  <package id="Ftp.dll" version="2.0.14247.1235" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.5" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
</packages>