[submodule "lib/FastColoredTextBox"]
	path = lib/FastColoredTextBox
	url = https://github.com/PavelTorgashov/FastColoredTextBox
[submodule "lib/dotnetzip"]
	path = lib/dotnetzip
	url = https://github.com/eropple/dotnetzip
