<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.8.1" targetFramework="net461" />
  <package id="FluentFTP" version="32.2.2" targetFramework="net461" />
  <package id="LoadingIndicators.WPF" version="0.0.1" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks" version="3.5.0" targetFramework="net461" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="MahApps.Metro.SimpleChildWindow" version="1.5.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="ShowMeTheXAML" version="1.0.12" targetFramework="net461" />
  <package id="System.ComponentModel.Composition" version="4.7.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
  <package id="WPFFolderBrowser" version="1.0.2" targetFramework="net452" />
  <package id="WPFTaskDialog" version="1.7.1" targetFramework="net452" />
</packages>