<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net452" />
  <package id="Exceptionless" version="4.0.1891" targetFramework="net452" />
  <package id="Exceptionless.Portable" version="4.0.1891" targetFramework="net452" />
  <package id="Exceptionless.Windows" version="4.0.1891" targetFramework="net452" />
  <package id="FCTB" version="2.16.11.0" targetFramework="net4" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net452" />
  <package id="MySql.Data" version="7.0.3-DMR" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="starksoft.aspen" version="1.1.0" targetFramework="net452" />
</packages>